*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*https: //www.freepik.com/free-vector/modern-cv-template_13234784.htm#query=cv%20template&position=34&from_view=keyword#position=34&query=cv%20template*/
/*https: //rs.school/js/*/
.grid {
	display: grid;
	grid-template-areas:
		"head"
		"home"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	max-width: 1280px;
	margin: auto;
	padding: 0 40px;
	width: 100%;
	font-size: 0;
	font-family: 'AvantGarde';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: black;
}

.wrapper {
	max-width: 1280px;
	margin: auto;
	padding: 0 40px;
	width: 100%;
	font-size: 0;
	display: grid;
}

.header {
	grid-area: head;
	position: sticky;
	top: 0;
	z-index: 1;
}

.home {
	grid-area: home;
	display: grid;
	grid-template-areas:
		"title i i i img";
	grid-template-columns: max-content repeat(3, 100px) 1fr;
	grid-template-rows: auto;
	/*height:min-content;*/
	/*background: #00BFFF;*/
}

.home-contacts {
	grid-area: title;
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 1fr 1fr;
	background: white;
}

.b {
	grid-column: 1 / 2;
	background-color: black;
}

.y {
	grid-column: 1 / 2;
	background-color: rgb(216, 167, 29);
}

.card {
	clip-path: circle(800px at 50% 50%);
}

.home-title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	margin-top: 1.25em;
	justify-self: center;
	background: #d53e07;
	height: max-content;
	justify-self: stretch;
	padding: 0 .25em;
}

.icons {
	grid-area: contact;
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: min-content;
	grid-auto-flow: column;
	justify-items: center;
	padding: 0;
	background-color: #808080;
}

.icon {
	width: 50px;
	height: 50px;
}

.item1 {
	grid-area: i;
	background: #004f49;
	background: #00BFFF;
		clip-path: polygon(0 0, 0 0, 100% 0, 0 100%);
}

.item2 {
	grid-area: i;
	background: #004f49;
	clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%);
	clip-path: polygon(0 0, 0 0, 0 100%, 100% 100%);
	clip-path: polygon(0 0, 0 0, 0 100%, 100% 100%);
	clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
	clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0);
	clip-path: polygon(0 0, 0 0, 0 100%, 100% 100%);
	
}

.photo {
	grid-area: img;
	align-self: end;
	justify-self: end;
	height: 50vh;
	width: 50vh;
	background-image: url("../img/IMG_7201.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	grid-area: main;
	display: grid;
	grid-template-areas:
		"about about about"
		"interest education education"
		"experience experience skill"
		"experience experience language"
		"page page page";
	grid-template-columns: 350px 1fr 350px;
	grid-template-rows: auto;
	align-content: start;
}

.about {
	grid-area: about;
	background-color: #FDF4E3;
	/*background-color: rgb(228, 222, 208);*/
	padding: 0 1.5em;
}

.interests {
	grid-area: interest;
	width: auto;
	background-color: #F5F5DC;
	/*background-color: rgba(245, 238, 225);*/
}

.education {
	grid-area: education;
	background-color: #FFFDD0;
	/*background-color: rgb(236, 207, 168);*/
}

.experience {
	grid-area: experience;
	background-color: #FDEAA8;
}

.skills {
	grid-area: skill;
	background-color: rgb(241, 189, 124);
	background-color: #D2B48C;
}

.languages {
	grid-area: language;
	background-color: #F5F5DC;
	background-color: #d89a5b;
	/*background-color: rgb(240, 188, 140);*/
}

.page {
	grid-area: page;
	display: grid;
	grid-template-areas:
		"course grant grant"
		"code award award"
		"code certificat certificat";
	grid-template-columns: repeat (4, 1fr);
	grid-template-rows: auto;
	align-content: start;
}

.courses {
	/*height:fit-content;*/
	grid-area: course;
	background-color: #F5F5DC;
	background-color: #CC99FE;
	background-color: #b39c65;
	/*background-color: rgba(245, 238, 225);*/
}

.grants {
	grid-area: grant;
	background-color: #D2B48C;
	background-color: #d8ae64;
	/*background-color: rgb(216, 196, 168);*/
}

.awards {
	/*height: fit-content;*/
	grid-area: award;
	background-color: #FDEAA8;
}

.certifications {
	/*height: fit-content;*/
	grid-area: certificat;
	background-color: #FFFDD0;
	background-color: #e7cacf;
	/*background-color: rgb(236, 207, 168);*/
}

.code {
	/*height: fit-content;*/

	/*width: max-content;*/
	grid-column: col 3 / col 4;
	grid-area: code;
	line-height: normal;
	background-color: black;
	color: #004f49;
}

.footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 100px 1fr 300px;
	grid-template-areas:
		"author logo author";
	justify-items: start;
	align-items: end;
	background: rgb(216, 167, 29);
}

.rsschool-logo {
	grid-area: logo;
	grid-column: 2 / 3;
	width: 100px;
}

.author {
	grid-area: author;
	grid-column: 3 / 4;
	height: max-content;
	align-self: center;
	display: grid;
	grid-template-columns: 1em 1fr;
	grid-template-areas: 
		"icon a";
}

.copyright-icon {
	align-self: center;
	width: 1em;
}

/* Header */

/* Main */

.education-content {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.year {
	justify-self: center;/*hor*/
	align-self: center;/*ver*/
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: #004f49;
	width: max-content;
	text-align: center;
}

.experience-content {
	display: grid;
	grid-template-columns: 1fr 3fr;

}

.heading {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.subheading {
	padding-bottom: 1em;
}

.content {
	padding-bottom: .5em;
	padding: 0 1.5em;
	margin-bottom: 2em;
}

div strong {
	font-size: 16px;
	color: #00008b;
}

ul {
	list-style-type:none;
	padding-left: 1em;
}

ul li {
	margin: 5px;
}

ol {
	list-style-type: upper-roman;
	list-style-position: inside;
	padding-left: 1em;
}

.ul-iterests li {
	background: #cce5ff;
	color: #00008b;
}

.ul-slills li {
	background: #cce5ff;
	color: #00008b;
}

.ul-languages li {
	background: #FDF4E3;
	color: #004f49;;
}

.ul-courses li {
	background: #FDF4E3;
	color: #004f49;;
}

h1 {
	font-family: 'RodchenkoCond';
	font-style: normal;
	font-weight: 800;
	font-size: 44px;
	line-height: 160%;
	letter-spacing: 0.2em;
	text-decoration: none;
}

h4 {
	font-family: 'RodchenkoCond';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 115%;
	/* identical to box height, or 23px */
	letter-spacing: 0.2em;
	color: #d53e07;
}

h5 {
	font-family: 'RodchenkoCond';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 110%;
	letter-spacing: 0.2em;
	color: #7255ce;
	color: #0000FF;
	text-align: center;
	padding-bottom: .75em;
}

.nav {
	padding-top: 10px;
	padding-bottom: 11px;
	background: rgb(216, 167, 29, 0.75);
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	text-align: right;
	font-family: 'RodchenkoCond';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0.2em;
}


.nav-link a {
	text-decoration: none;
	transition: color 0.2s linear;
	color: black;
}

.nav-link__active a {
	color: #d53e07;
	border-bottom: 3px solid #d53e07;
}

.nav-link a:hover {
	color: #d53e07;;
}

@font-face {
	font-family: "AvantGarde";
	src: url("..//fonts/AvantGarde\ Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RodchenkoCond";
	src: url("..//fonts//RodchenkoCond\ Regular.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}